@import url("https://fonts.googleapis.com/css2?family=Paytone+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin&display=swap");

$title-font: "Paytone One", sans-serif;
$body-font: "Libre Franklin", sans-serif;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: rgb(50, 20, 94);
  background: linear-gradient(
    90deg,
    rgba(50, 20, 94, 1) 0%,
    rgba(35, 10, 68, 1) 83%,
    rgba(19, 4, 47, 1) 100%
  );
  color: white;
  font-family: $body-font;
  height: 100vh;
  padding: 5vh 5vw;
  width: 100vw;

  #root {
    width: 100%;
    height: 100%;
  }
}

h1,
h2 {
  font-family: $title-font;
  text-align: center;
}
